<%= simple_form_for user, html: { method: :patch, class: "user form" } do |f| %>
  <div class="modal__header">
    <h1 class="modal-title">
      Edit User's Profile
    </h1>
    <button class="modal-close">&times;</button>
  </h1>
  <div class="modal__body">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, placeholder: t("simple_form.placeholders.user.edit_password") %>
    <%= f.input :current_password %>
  </div>
  <div class="modal-footer">
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
